<div class="p-fluid mb-4">
<p-accordion [multiple]="true">
  <p-accordion-panel *ngFor="let question of selectedNode.data?.qa; let i = index" [value]="i">
    
    <p-accordion-header>
      {{ question.text || 'Question ' + (i + 1) }}
    </p-accordion-header>

    <p-accordion-content>

      <input
        pInputText
        [(ngModel)]="question.text"
        placeholder="Enter question text"
        class="mb-2 w-full"
        (ngModelChange)="updateNode()" />

      <p-editor
        [readonly]="!editMode"
        [(ngModel)]="question.value"
        (ngModelChange)="updateNode()">
      </p-editor>
        <button pButton icon="pi pi-trash" label="Remove Question" class="p-button-danger ml-2" severity="danger" (click)="removeQuestion(i)"></button>

    </p-accordion-content>

  </p-accordion-panel>
</p-accordion>


    <button pButton label="Add Question" icon="pi pi-check" (click)="addQuestion()"></button>
</div>
