<div class="p-fluid mb-4">
    <div *ngFor="let question of selectedNode.data?.questions; let i = index; trackBy: trackByIndex" class="mb-4">
        <ng-container *ngIf="editMode; else readonlyLabel">
            <input pInputText [(ngModel)]="question.text" placeholder="Enter question text" class="mb-2 w-full" (ngModelChange)="updateNode()" />
        </ng-container>
        <ng-template #readonlyLabel>
            <h5>{{question.text}}</h5>
        </ng-template>

        <div *ngFor="let opt of question.options; let io = index; trackBy: trackByOptionId" class="p-inputgroup mb-2">
            <ng-container *ngIf="editMode; else readonly">
                <p-radioButton name="correctAnswer{{i}}" [value]="opt.id" [(ngModel)]="question.correctAnswerId" class="mr-2" (ngModelChange)="updateNode()"></p-radioButton>
                <input pInputText [(ngModel)]="opt.value" placeholder="Option {{ io + 1 }}" (ngModelChange)="updateNode()" class="w-[88%]" />
            </ng-container>
            <ng-template #readonly>
                <p-radioButton  [inputId]="i + 'opt' + io" name="correctAnswer{{i}}" [value]="opt.id" [(ngModel)]="question.selectedAnswerId" class="mr-2" (ngModelChange)="updateNode()">
                  
                </p-radioButton>
                <label  [for]="i + 'opt' + io">{{opt.value}}</label>
            </ng-template>

            <button *ngIf="question.options.length > 2 && editMode" pButton icon="pi pi-trash" class="p-button-danger ml-2" severity="danger" (click)="removeOption(question, io)"></button>
        </div>

        <button pButton *ngIf="editMode" label="Add Option" icon="pi pi-plus" (click)="addOption(question)" class="mb-2"></button>
        <button pButton *ngIf="editMode" icon="pi pi-trash" label="Remove Question" class="p-button-danger ml-2" severity="danger" (click)="removeQuestion(i)"></button>
    </div>

    <button pButton *ngIf="editMode" label="Add Question" icon="pi pi-check" (click)="addQuestion()"></button>
</div>
