<div class="flex h-screen gap-x-4">
    <div class="w-1/5 bg-white p-4">
        <h2 class="text-xl font-semibold mb-4">Onboarding</h2>
        <p-tree [value]="nodes" selectionMode="single" [(selection)]="selectedNode" [contextMenu]="menu" class="min-w-[50vh]"></p-tree>

        <p-button *ngIf="editMode" label="Add" icon="pi pi-plus" (click)="showAddDialog()" class="mb-2" />

        <p-contextMenu #menu [model]="contextMenuItems"></p-contextMenu>

        <p-dialog header="{{ editingNode ? 'Edit Node' : 'Add Node' }}" [(visible)]="dialogVisible" [modal]="true" [closable]="false">
            <input pInputText [(ngModel)]="labelInput" type="text" placeholder="Label" class="p-inputtext w-full mb-3" />
            <div class="text-right">
                <p-button pButton label="Save" (click)="saveNode()" class="p-button-sm p-button-primary mr-2" />
                <p-button pButton label="Cancel" (click)="dialogVisible=false" class="p-button-sm p-button-secondary" />
            </div>
        </p-dialog>
    </div>

    <div class="w-4/5 bg-white p-6">
        <ng-container *ngIf="selectedNode.data">
            <h1 class="text-2xl font-bold mb-4">{{selectedNode.label}}</h1>
            <p-editor [readonly]="!editMode" [(ngModel)]="selectedNode.data.text"  (ngModelChange)="updateNode()" />
            <!-- <p-button label="Save" icon="pi pi-save" (click)="updateNode()" class="mb-2" /> -->
        </ng-container>
    </div>
</div>
