<!-- <div class="card" *ngIf="!editMode">
    <form #userForm="ngForm">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName"  (ngModelChange)="updateNode()" required />
        </div>

        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName"  (ngModelChange)="updateNode()" required />
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email"  (ngModelChange)="updateNode()" required email />
        </div>
    </form>
</div> -->

<div class="flex gap-x-4">
    <div class="w-1/5 bg-white p-4">
        <h2 class="text-xl font-semibold mb-4">Onboarding</h2>
        <p-tree [value]="nodes" selectionMode="single" [(selection)]="selectedNode" [contextMenu]="editMode ? menu : null" (onNodeDrop)="onNodeDrop($event)" class="min-h-[50vh]" draggableNodes="true" droppableNodes="true"></p-tree>

        <p-button *ngIf="editMode" label="Add" icon="pi pi-plus" (click)="showAddDialog(true)" class="mb-2" />

        <p-contextMenu #menu [model]="contextMenuItems"></p-contextMenu>

        <p-dialog header="{{ editingNode ? 'Edit Node' : 'Add Node' }}" [(visible)]="dialogVisible" [modal]="true" [closable]="false">
            <input pInputText [(ngModel)]="labelInput" type="text" placeholder="Label" class="p-inputtext w-full mb-3" />
            <div class="text-right">
                <p-button pButton label="Save" (click)="saveNode()" class="p-button-sm p-button-primary mr-2" />
                <p-button pButton label="Cancel" (click)="dialogVisible=false" class="p-button-sm p-button-secondary" />
            </div>
        </p-dialog>
    </div>

    <div class="w-4/5 bg-white p-4">
        <ng-container *ngIf="selectedNode?.data">
            <h1 class="text-2xl font-bold mb-4">{{selectedNode.label}}</h1>
            <p-editor *ngIf="editMode; else readolny" [(ngModel)]="selectedNode.data!.text" (ngModelChange)="updateNode()" />

            <ng-template #readolny>
                <p-editor [readonly]="!editMode" [disabled]="!editMode" class="no-toolbar" [styleClass]="'no-toolbar'" [modules]="{toolbar: false}" [(ngModel)]="selectedNode.data!.text"> </p-editor>
            </ng-template>

            <ng-container *ngIf="selectedNode?.data?.files?.length || editMode">
                <h4 class="text-xl font-semibold mb-4">Files</h4>

                <p-fileUpload #uploader *ngIf="editMode" name="file" [customUpload]="true" mode="basic" chooseIcon="pi pi-upload" [auto]="true" (uploadHandler)="upload($event, uploader)"></p-fileUpload>

                <p-table [value]="selectedNode.data!.files" editable="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Link</th>
                            <th *ngIf="editMode">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-file let-editing="editing">
                        <tr>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText [(ngModel)]="file.name" />
                                    </ng-template>
                                    <ng-template pTemplate="output">{{ file.name }}</ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <a [href]="file.url" target="_blank" pTooltip="Download file">
                                    <i class="pi pi-download"></i>
                                </a>
                            </td>
                            <td *ngIf="editMode">
                                <button pButton icon="pi pi-trash" (click)="delete(file)" severity="danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-container *ngIf="selectedNode?.data?.questions?.length || editMode">
                <h4 class="text-xl font-semibold mb-4">Questions</h4>

                <app-questions [selectedNode]="selectedNode" [editMode]="editMode" (save)="updateNode()" />
            </ng-container>

            <ng-container *ngIf="selectedNode?.data?.qa?.length || editMode">
                <h4 class="text-xl font-semibold mb-4">Questions and Answers</h4>

                <app-questions-and-answers [selectedNode]="selectedNode" [editMode]="editMode" (save)="updateNode()" />
            </ng-container>
        </ng-container>
    </div>
</div>

<div class="card mt-4" *ngIf="!editMode">
    <app-chat />
</div>
